---
name: CI
permissions: {}

on:
  pull_request:

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  validate:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Install markdownlint-cli
        run: npm install --ignore-scripts -g markdownlint-cli

      - name: Lint markdown files
        run: |
          markdownlint \
            -f \
            -o markdownlint_report.log \
            --ignore-path .markdownlintignore \
            '**/*.md'

      - name: Print summary
        if: failure()
        run: |
          {
            echo "### Linting report:"
            cat markdownlint_report.log

            echo "### Suggested changes:"
            echo '```diff'
            git diff
            echo '```'
          } >> "${GITHUB_STEP_SUMMARY}"

      - name: Additional checks
        if: always()
        run: |
          exit_code=0

          # check character count
          find ./docs -type f -name '*.md' | while IFS= read -r file; do
            echo "Checking $file"
            char_count=$(wc -c <"$file")
            echo "Character count: $char_count"
            filename=$(basename "$file")
            echo "Filename: $filename"
            if [[ $char_count -gt 4096 ]]; then
              echo "$file exceeds the 4096 character limit" >> "${GITHUB_STEP_SUMMARY}"
              exit_code=1
            fi
          done

          exit $exit_code
